
.nav-logo {
    -fx-alignment: center;
}

.nav-button {
    -fx-font-weight: bold;
    -fx-background-color: #02315E;
    -fx-text-fill: #dcdde1;
    -fx-background-radius: 50px;
    -fx-padding: 10px 20px;
    -fx-font-size: 10;
}
.nav-button-image{

    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
}


.nav-button:hover {
    -fx-background-color: #2F70AF;
}

.nav-button-active {
    -fx-text-fill: #273c75;
}

.nav-container {
    -fx-spacing: 10px ;
    -fx-background-color: #1B1F47;
}

.table-view .column-header {
    -fx-background-color: #1B1F47;
    -fx-text-fill: white;
    -fx-padding: 8px;
    -fx-alignment: center-left;
    -fx-border-width: 0 0 2 0;
}
.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
}
.table-row-cell {
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 14px;
    -fx-pref-height: 25px;
    -fx-text-alignment: center;
}
.button {
    -fx-background-color: #4C5D8B;
    -fx-text-fill: white;
}
.spec-button {
    -fx-background-color:#1B1F47;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.spec-button:hover{
    -fx-background-color: #142d72;
}
.spec-button:pressed{
    -fx-background-color: #8a98ff;
}

.danger-button {
    -fx-background-color: #c02027;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.danger-button:hover{
    -fx-background-color: #F15A59;
}
.danger-button:pressed{
    -fx-background-color: #5264ae}


.info-button {
    -fx-background-color: #007ea7;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.info-button:hover{
    -fx-background-color: #7db2c2;
}
.info-button:pressed{
    -fx-background-color:  #3570ab;}
.subjects #subjectsButton,.students #studentsButton,.assignments #assignmentsButton, .teachers #teachersButton, .grades #gradesButton,.help #helpButton , .profile #profileButton{
    -fx-border-width: 3px;
    -fx-border-radius: 50;
    -fx-border-color: #e5f4f9;
}
.card {
    -fx-background-color:#90E0EF;
    -fx-background-radius: 10;
}
.textInput {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 7;
    -fx-border-color: #284c97;
    -fx-border-radius: 7;
    -fx-font-family: Arial;
    -fx-padding: 5;
}
.textInput:focused {
    -fx-border-color: #1E90FF;
    -fx-border-width: 2;
}

.date-picker-pers  {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 7;
    -fx-border-color: #284c97;
    -fx-border-radius: 7;
    -fx-font-family: Arial;
}
.date-picker-pers > .text-field {
    -fx-background-radius: 7;
}
.date-picker-pers > .arrow-button {
    -fx-background-radius: 7;
}
.spinner{
    -fx-text-fill: black;
    -fx-background-color: #90E0EF;
}
/*.spinner  {*/
/*    -fx-background-color: #FFFFFF;*/
/*    -fx-background-radius: 7;*/
/*    -fx-border-color: #284c97;*/
/*    -fx-border-radius: 7;*/
/*    -fx-font-family: Arial;*/
/*}*/
/*.spinner > .text-field {*/
/*    -fx-background-radius: 7;*/
/*}*/
/*.spinner .increment-arrow,*/
/*.spinner .decrement-arrow {*/
/*    -fx-background-color: #333333;*/
/*}*/
.card-header {
    -fx-background-color: #02315E;
    -fx-text-fill: white;
    -fx-background-radius: 15px;
    -fx-padding: 10px 20px;
}

.confirmation-dialog {
    -fx-background-color: white;
    -fx-border-color: #284c97;
    -fx-border-width: 2px;
}

.confirmation-dialog .header-panel {
    -fx-background-color: #284c97;
    -fx-text-fill: white;
}

.confirmation-dialog .content-panel {
    -fx-padding: 20px;
}

.profile-pic{
}
.profile-info{
    -fx-font-family: "MS Reference Specialty";
    -fx-font-size: 14;
}
.subject-desc {
    -fx-font-weight: bold;
}

.info-label{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color: #0353a4;
    -fx-background-radius: 4px;
    -fx-label-padding: 5px;
}
.choice-box {
    -fx-text-fill: black;
    -fx-background-color: #90E0EF;
}

.white-button {
    -fx-background-color: white;
    -fx-background-radius: 30;
    -fx-text-fill: white;
}
.white-button:hover{
    -fx-background-color: #931928;
}
.white-button:pressed{
    -fx-background-color: #480000;
}

/* Style the vertical scroll bar */
.scroll-pane:vertical > .scroll-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.scroll-pane:vertical > .scroll-bar > .increment-button,
.scroll-pane:vertical > .scroll-bar > .decrement-button,
.scroll-pane:vertical > .scroll-bar > .thumb {
    -fx-background-color: #353e93;
    -fx-background-radius: 0;
}

.scroll-pane:vertical > .scroll-bar > .increment-button:hover,
.scroll-pane:vertical > .scroll-bar > .decrement-button:hover,
.scroll-pane:vertical > .scroll-bar > .thumb:hover {
    -fx-background-color: #3570ab;
}

.scroll-pane:vertical > .scroll-bar > .thumb:pressed {
    -fx-background-color: #7db2c2;
}


